<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812742606750-1hjf55cfs8nt3n666umv53lumbsrdu51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812742606750-1hjf55cfs8nt3n666umv53lumbsrdu51</string>
	<key>API_KEY</key>
	<string>AIzaSyAn5ewPPYOfYiWGsg7b1f_JpPvqWwP-6O0</string>
	<key>GCM_SENDER_ID</key>
	<string>812742606750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcelherd.mop.quotify</string>
	<key>PROJECT_ID</key>
	<string>quotify-b5bea</string>
	<key>STORAGE_BUCKET</key>
	<string>quotify-b5bea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812742606750:ios:d3cf9358ed2fb671</string>
	<key>DATABASE_URL</key>
	<string>https://quotify-b5bea.firebaseio.com</string>
</dict>
</plist>